<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="wp-polls">
			<directory suffix=".php">./tests/</directory>
			<exclude>./tests/bootstrap.php</exclude>
			<exclude>./tests/helper-reset.php</exclude>
		</testsuite>
	</testsuites>
</phpunit>
