#wp-polls-pollbar-bg {
    width: 25px;
    height: 25px;
    border: 1px solid #000000;
}
#wp-polls-pollbar-border {
    width: 25px;
    height: 25px;
    border: 1px solid #000000;
}
#pollq_expected_atype_object .wp-polls-ajax-box{
    border: #ccd0d4 solid 1px;
    border-radius: 3px;
    max-height: 300px;
    overflow: auto;
    list-style-type: none;
}
.pollq-items-lists, .pollq-items-lists li{
    margin: 0;
}
.pollq-items-lists span{
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}
.pollq-items-lists .children label{
    padding-left: 2rem;
}
#pollq_templates_set_id{
    max-width: 37rem;
}
#wp_polls_ajax_parent_container{
    display: flex;
    align-items: center;
}
#wp_polls_ajax_parent_container > span, #wp_polls_ajax_parent_container input {
    margin-right: 0.5rem
}
#wp_polls_ajax_results_parent_container{
    display: flex;
    margin-top: 0.5rem;
}
.wp-polls-multiselect-group{
    align-items: center;
}
.wp-polls-multiselect {
    display: inline-flex;
    display: ms-inline-flexbox;
}
.wp-polls-ajax-box {
    width: 100%;
    min-height:200px;
}
.wp-polls-ajax-placeholder{
    padding: 0 1rem;
}
.wp-polls-ajax-box::target-text{
    padding: 0.5rem 1rem;
}
.wp-polls-multiselect-selectBox {
    position: relative;
}
.wp-polls-multiselect-selectBox select {
    width: 159px;
}
.wp-polls-multiselect-overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#pollq_post_types_list_options {
    display: none;
    border-radius: 6px;
    border: 1px solid rgba(100, 100, 100, 0.4);
    box-shadow: 0 .15rem .5rem .1rem rgba(100,100,100,.15);
    max-height: 150px;
    overflow-y: scroll;
    padding-top: 5px;
    z-index: 200;
    margin-top: 30px;
    margin-left: 2px;
    background-color: white;
    position: absolute;
}
#pollq_post_types_list_options label {
    display: block;
    font-weight: normal;
    min-height: 1.2em;
    background-color: #ffffff00;
    padding: .15rem 2.25rem .15rem .6rem;
}
#pollq_post_types_list_options label:hover {
    background-color: #e5e5e5;
}
.wp-polls-dropdown-input-containers{
    text-align: center;
    padding: 0.4rem;
    position: sticky;
    top: 0;
    font-variant: small-caps;
    line-height: 2;
    margin-bottom: 0.1rem;
    background-color: #f0f0f1;
    
}
.wp-polls-dropdown-filter {
    box-sizing: border-box;
    background-image: url('images/searchicon.png');
    background-position: 6px 6px;
    background-repeat: no-repeat;   
    background-size: 14px;
    padding: 0px 10px 0px 30px !important;
    border: none !important;
    border-bottom: 1px solid #ddd !important;
    width: 100%;
}
.wp-polls-dropdown-filter:focus {
    outline: 3px solid #1e90ff;
}
.wp-polls-dropdown label{
    display: block;
    font-weight: normal;
    min-height: 1.2em;
    background-color: #ffffff00;
    padding: 0.5rem 1rem;
}
.wp-polls-dropdown-content {
    min-width: 230px;
    overflow: auto;
    z-index: 1;
}
.wp-polls-dropdown-content input[type="radio"] {
    display: none;
}
.wp-polls-selected-radio{
    border-left: 5px solid #61b1ff;
    padding-left: 11px !important;
}
.wp-polls-dropdown input[type="radio"]:checked + .wp-polls-dropdown label{
    background-color:black; 
} 
#pollq_terms_results_container{
    background-color: #ddd;
    max-width: 0;
    visibility: hidden;
}
.wp-polls-slidein {
    max-width: 100%!important;
    visibility: visible!important;
    transition: max-width 0.5s linear, visibility 1.5s linear;
}  
#pollq_terms_results_container .wp-polls-dropdown-input-containers{
    background-color: #ddd !important;
}
#pollq_terms_results_container label:hover, #pollq_terms_results_container .wp-polls-selected-radio{
    background-color: #f0f0f1 !important;
}
#pollq_terms_results_container .children label{
    background-color: #e6e6e6;
}
#pollq_posts_items_select_container .wp-polls-dropdown-input-containers{
    background-color: #f0f0f1;
}
#pollq_posts_items_select_container label:hover{
    background-color: #ddd !important;
}
#pollq_posts_items_select_container input[type=checkbox]:checked ~ #pollq_posts_items_select_container li {
    display: none;
}
#pollq_fields_list{
    display: flex;
    flex-wrap: wrap;
    border: unset;
}
#pollq_fields_list.wp-polls-ajax-box{
    max-height: unset;
    min-height: unset;
    border: unset;
}
.fields-box-container{
    border: 1px solid #ccd0d4;
    padding: 0 1rem 1rem 1rem;
    box-shadow: 2px 1px 1px 0px rgba(0, 0, 0, 0.2);
    max-height: 20rem;
    width: 18rem;
    overflow: scroll;
}
.fields-box-container h4{
    text-align: center;
}
.fields-box-container ul.fields-post-type-box li label{
    display:block;
    text-indent: -1.6rem;
    padding-left: 1.6rem;
}
.wp-polls-disable {
    pointer-events: none;
    opacity: 0.6;
}
.loader-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 1;
    top:0;
    left:0;
}
.loader-spinner {
    border: 16px solid rgba(55, 55, 55, 0.8);
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
 }
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.wp-polls-hide{
    display: none;
}
.wp-polls-object-answers td{
    display: table-cell;
    margin-bottom:0;
    padding-left:0;
}
.wp-polls-object-answers label{
    cursor: text;
    display:inline-block;
    min-width: 45%;
}
.wp-polls-object-answers input[type="checkbox"]{
    visibility: hidden;
    margin-left: -1rem;
}
.wp-polls-object-answers input[type="button"].button {
    vertical-align: middle !important;
}
.wp-polls-lighter-color{
    color: #a4a4a4;
}
/* Tooltip inspired by https://codepen.io/chrisyaxley/pen/eYZeqW */
.wp-polls-tooltip-container {
    display: inline-block;
    position: relative;
    margin-left: 0.5em;
}
.wp-polls-tooltip-container .wp-polls-tooltip-icon {
    background: #2271b1;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    font-style: italic;
    height: 1.2em;
    text-align: center;
    width: 1.2em;
    color: white;
    font-weight: bold;
}
.wp-polls-tooltip-container .wp-polls-tooltip-info {
    display: none;
    background: #FCF4A3;
    border: 1px solid darkgray;
    border-radius: 3px;
    font-size: 0.875em;
    padding: 1em;
    position: absolute;
    left: 30px;
    top: -20px;
    width: 250px;
    z-index: 2;
}
.wp-polls-tooltip-container .wp-polls-tooltip-info:before, .wp-polls-tooltip-container .wp-polls-tooltip-info:after {
    content: "";
    position: absolute;
    left: -10px;
    top: 12px;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent darkgray;
}
.wp-polls-tooltip-container .wp-polls-tooltip-info:after {
    left: -8px;
    border-right-color: #FCF4A3;
}
.wp-polls-tooltip-container .wp-polls-tooltip-info .info {
    display: block;
}
.wp-polls-tooltip-container:hover .wp-polls-tooltip-info, .wp-polls-tooltip-container:focus .wp-polls-tooltip-info {
    display: inline-block;
}
.wp-polls-custom-template-vars {
    color: LightSlateGray;
}
.wp-polls-warning {
    display: inline-block;
    background: #fff;
    border: 1px solid blue;
    border-left-width: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    margin-bottom: 5px;
    padding: 1px 12px 4px 12px;
}
#poll_options_form .button {
    vertical-align: middle;
}

/*Media queries*/
@media screen and (max-width: 782px) {
    .fields-box-container ul.fields-post-type-box li label{
        text-indent: -2.1rem;
        padding-left: 2.1rem;
    }
}
